﻿@inherits UmbracoViewPage

<div class="space-carousel__wrapper">
    <div class="js-space-carousel space-carousel">
        <div class="space-carousel__box">
            <!--  TODO: Let user to add image. Image must be croped 300x300 -->
            <img src="https://picsum.photos/300" alt="">
            <!--  TODO: Carousel element without a link -->
            <div class="space-carousel__overlay bg-yellow" href="#">
                <div class="space-carousel__overlay__content">
                    <h3 class="space-carousel__title normal">Title text here and on two lines</h3>
                    <div class="space-carousel__logo">
                    </div>
                    <div class="space-carousel__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, totam. Labore quas tenetur quod mollitia assumenda saepe, facilis voluptatibus vitae quibusdam! Quas delectus odio tenetur?</div>
                </div>
            </div>
        </div>
        <div class="space-carousel__box">
            <img src="https://picsum.photos/300" alt="">
            <!--  TODO: Carousel element with a link -->
            <a class="space-carousel__overlay bg-green" href="#">
                <div class="space-carousel__overlay__content">
                    <h3 class="space-carousel__title normal">Title text here and on two lines</h3>
                    <div class="space-carousel__logo">
                        <svg fill="#FFF" width="42" height="42" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 28"><path d="M21.75 20.5l10-6.5-10-6.5zm2-9.31L28.08 14l-4.33 2.81z" /><path d="M24.75 0a14 14 0 00-14 13.5H.25v2h10.58A14 14 0 1024.75 0zm0 26a12 12 0 01-11.9-10.5h4.4v-2h-4.47a12 12 0 1112 12.5z" /></svg>
                    </div>
                    <div class="space-carousel__text"></div>
                </div>
            </a>
        </div>
        <div class="space-carousel__box">
            <img src="https://picsum.photos/300" alt="">
            <!--  TODO: Carousel element with a link -->
            <a class="space-carousel__overlay bg-orange" href="#">
                <div class="space-carousel__overlay__content">
                    <h3 class="space-carousel__title normal">Title text here and on two lines</h3>
                    <div class="space-carousel__logo">
                        <svg fill="#FFF" width="42" height="42" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 28"><path d="M21.75 20.5l10-6.5-10-6.5zm2-9.31L28.08 14l-4.33 2.81z" /><path d="M24.75 0a14 14 0 00-14 13.5H.25v2h10.58A14 14 0 1024.75 0zm0 26a12 12 0 01-11.9-10.5h4.4v-2h-4.47a12 12 0 1112 12.5z" /></svg>
                    </div>
                    <div class="space-carousel__text"></div>
                </div>
            </a>
        </div>
        <div class="space-carousel__box">
            <img src="https://picsum.photos/300" alt="">
        </div>
        <div class="space-carousel__box">
            <img src="https://picsum.photos/300" alt="">
        </div>
        <div class="space-carousel__box">
            <img src="https://picsum.photos/300" alt="">
        </div>
        <div class="space-carousel__box">
            <img src="https://picsum.photos/300" alt="">
        </div>
        <div class="space-carousel__box">
            <img src="https://picsum.photos/300" alt="">
        </div>
        <div class="space-carousel__box">
            <img src="https://picsum.photos/300" alt="">
            <!--  TODO: Carousel element without a link -->
            <div class="space-carousel__overlay bg-pink" href="#">
                <div class="space-carousel__overlay__content">
                    <h3 class="space-carousel__title normal">Title text here and on two lines</h3>
                    <div class="space-carousel__logo">
                    </div>
                    <div class="space-carousel__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, totam. Labore quas tenetur quod mollitia assumenda saepe, facilis voluptatibus vitae quibusdam! Quas delectus odio tenetur?</div>
                </div>
            </div>
        </div>
        <div class="space-carousel__box">
            <img src="https://picsum.photos/300" alt="">
            <!--  TODO: Carousel element without a link -->
            <div class="space-carousel__overlay bg-navy" href="#">
                <div class="space-carousel__overlay__content">
                    <h3 class="space-carousel__title normal">Title text here and on two lines</h3>
                    <div class="space-carousel__logo">
                    </div>
                    <div class="space-carousel__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, totam. Labore quas tenetur quod mollitia assumenda saepe, facilis voluptatibus vitae quibusdam! Quas delectus odio tenetur?</div>
                </div>
            </div>
        </div>
    </div>
</div>