﻿@inherits UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedContentModels;

@using Umbraco.Web.Models

@{
    var carouselItems = Umbraco.AssignedContentItem.HasValue("homeBannerCarousel");
    var carouselItems2 = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>("homeBannerCarousel");

    if (carouselItems2 != null)
    {
        foreach (var item in carouselItems2)
        {

            var imageId = item.GetPropertyValue("carouselImage");
            var imageUrl = Umbraco.TypedMedia(item.GetPropertyValue<IPublishedContent>("carouselImage"));

            @imageUrl

        }
    }

    string mainImageUrl = "";
    if (Umbraco.AssignedContentItem.HasValue("mainImage"))
    {
        mainImageUrl = Umbraco.AssignedContentItem.GetPropertyValue<IPublishedContent>("mainImage").Url + "?width=1600&height=550&mode=crop&anchor=center";
    }

    IEnumerable<RelatedLink> titleLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("bannerLink");
    RelatedLink titleLink = null;
    if (titleLinks != null && titleLinks.Count() > 0)
    {
        titleLink = titleLinks.FirstOrDefault();
    }

    IEnumerable<RelatedLink> facebookLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("bannerFacebookLink");
    RelatedLink facebookLink = null;
    if (facebookLinks != null && facebookLinks.Count() > 0)
    {
        facebookLink = facebookLinks.FirstOrDefault();
    }

    IEnumerable<RelatedLink> instagramLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("bannerInstagramLink");
    RelatedLink instagramLink = null;
    if (instagramLinks != null && instagramLinks.Count() > 0)
    {
        instagramLink = instagramLinks.FirstOrDefault();
    }

}

<div class="home-billboard__wrapper">
    <div class="home-billboard__top lazy" style="background-image:url('@mainImageUrl')">
        <div class="home-billboard__overlay"></div>
        <div class="section-container">
            <div class="home-billboard__top__text">
                <div class="home-billboard__top__text__inner">
                    <div class="home-billboard__top__title">
                        @Umbraco.Field("bannerTitleTop", altFieldAlias: "pageName", insertBefore: "<h1 class='home-billboard__top__heading'>", insertAfter: "</h1>")
                        @Umbraco.Field("bannerTitleBottom", insertBefore: "<h1 class='home-billboard__top__heading secondary-billboard__top__heading--bottom'>", insertAfter: "</h1>")
                    </div>
                    @Umbraco.Field("bannerText", insertBefore: "<p class='home-billboard__top__copy'>", insertAfter: "</p>")

                    @if (titleLink != null && !string.IsNullOrEmpty(titleLink.Link))
                    {
                        <div class="home-billboard__btn btn__wrapper">
                            <a class="space-btn" href="@titleLink.Link" target="@titleLink.NewWindow">@titleLink.Caption</a>
                        </div>
                    }

                    @if (facebookLink != null && !string.IsNullOrEmpty(facebookLink.Link) || instagramLink != null && !string.IsNullOrEmpty(instagramLink.Link))
                    {
                        <div class="home-billboard__top__social">
                            @if (instagramLink != null && !string.IsNullOrEmpty(instagramLink.Link))
                            {
                                <a href="@instagramLink.Link" target="@(instagramLink.NewWindow ? "_blank" : null)" class="home-billboard__top__instagram"></a>
                            }
                            @if (facebookLink != null && !string.IsNullOrEmpty(facebookLink.Link))
                            {
                                <a href="@facebookLink.Link" target="@(facebookLink.NewWindow ? "_blank" : null)" class="home-billboard__top__facebook"></a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="home-billboard__bottom bg-green">
        <div class="section-container">
            <div class="home-billboard__bottom__text">
                <h3 class="home-billboard__bottom__heading">Events</h3>
                <p class="home-billboard__bottom__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
        </div>
        <div class="home-billboard__bottom__bg">
            <div class="js-home-billboard home-billboard__carousel">
                <div class="home-billboard__slide" style="background-image:url('https://picsum.photos/800/300')"></div>
                <div class="home-billboard__slide" style="background-image:url('https://picsum.photos/800/300')"></div>
                <div class="home-billboard__slide" style="background-image:url('https://picsum.photos/800/300')"></div>
            </div>
            <div class="home-billboard__nav previous-caro"><span class="nav-previous"></span></div>
            <div class="home-billboard__nav next-caro"><span class="nav-next"></span></div>
        </div>
    </div>

    <a href="#" class="home-billboard__chat"></a>
</div>