﻿@inherits UmbracoViewPage

<div class="overlap-image__wrapper">
    <div class="section-container">
        <div class="overlap-image">
            <div class="overlap-image__copy">
                <div class="overlap-image__date bold">(optional) January 2019</div>
                <h3 class="overlap-image__title">Space for events</h3>
                <p class="overlap-image__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div class="overlap-image__btn btn__wrapper">
                    <a class="space-btn" href="#">Learn more</a>
                </div>
            </div>
            <div class="overlap-image__img">
                <img class="lazy" data-src="https://picsum.photos/590/370" alt="">
            </div>
        </div>
    </div>
    <div class="overlap-image__bg bg-yellow"></div>
</div>