﻿@inherits UmbracoViewPage

<!-- Desktop Version -->
<div class="standard-row__wrapper">
    <div class="section-container">
        <div class="standard-row">
            <div class="standard-row__box--split">
                <div class="standard-row__main-title">
                    <h2 class="standard-row__main-title__h2">
                        Maxi—name on two lines
                        <div class="standard-row__main-title__underline bg-navy"></div>
                    </h2>
                </div>
                <div class="standard-row__img">
                    <img class="lazy" data-src="http://via.placeholder.com/503x374" alt="">
                </div>
            </div>
            <div class="standard-row__box--copy text-white">
                <h3 class="standard-row__title heading-3">Space for events</h3>
                <p class="standard-row__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste non natus distinctio inventore voluptatum at accusamus aperiam consectetur nisi iure, adipisci voluptatem, quas optio culpa sunt sed ipsum. Ex fugiat reiciendis aliquid architecto assumenda provident sed est cum dicta quisquam, nobis quae, possimus blanditiis rerum nihil voluptatem laborum quasi dolor.</p>
                <div class="standard-row__btn">
                    <div class="btn__wrapper">
                        <a class="space-btn" href="#">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard-row__bg bg-navy"></div>
</div>

<!-- Mobile Version -->
<div class="standard-row__wrapper--mobile">
    <div class="standard-row--mobile">
        <div class="standard-row__main-title--mobile">
            <h2 class="standard-row__main-title__h2--mobile">
                sname
                <div class="standard-row__main-title__underline--mobile bg-navy"></div>
            </h2>
        </div>
        <div class="standard-row__img--mobile">
            <img class="lazy" data-src="http://via.placeholder.com/503x374" alt="">
        </div>
        <div class="standard-row__box--copy--mobile text-white bg-navy">
            <div class="section-container">
                <h3 class="standard-row__title--mobile heading-3">Space for events</h3>
                <p class="standard-row__text--mobile">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste non natus distinctio inventore voluptatum at accusamus aperiam consectetur nisi iure, adipisci voluptatem, quas optio culpa sunt sed ipsum. Ex fugiat reiciendis aliquid architecto assumenda provident sed est cum dicta quisquam, nobis quae, possimus blanditiis rerum nihil voluptatem laborum quasi dolor.</p>
                <div class="standard-row__btn--mobile">
                    <div class="btn__wrapper">
                        <a class="space-btn" href="#">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>