﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}


@* the fun starts here *@

@{ Html.RenderPartial("Content/_SecondaryBillboard"); }

<br />
<br />

@{ Html.RenderPartial("Content/_LargeImageRow"); }

<br />
<br />

@{ Html.RenderPartial("Content/_SingleColumnText"); }

<br />
<br />

@{ Html.RenderPartial("Content/_OverlapImage"); }

<br />
<br />