﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "Master.cshtml";
}

@* the fun starts here *@
@Umbraco.Field("carouselImage")

@{ Html.RenderPartial("Content/_HomeBillboard"); }

<br />
<br />

@CurrentPage.GetGridHtml(Html, "flexibleContentGrid", "clean")

<br />
<br />

@{ Html.RenderPartial("Content/_StandardRow"); }

<br />
<br />


@{ Html.RenderPartial("Content/_LargeImageRow"); }

<br />
<br />

@{ Html.RenderPartial("Content/_CarouselRow"); }

