﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

@* the fun starts here *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- ios -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">

    <!-- Browser theme colour schema -->
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/assets/css/style.css">

</head>


<body class="space-body" id="main-content">

    @{ Html.RenderPartial("SiteLayout/_Header"); }

    <main class="space-main">

        @RenderBody()


        @* @Html.GetGridHtml(Model, framework: "mainContent", propertyAlias: "Clean", fluidImages: true) *@

    </main>

    @{ Html.RenderPartial("SiteLayout/_Footer"); }

    <script type="text/javascript" src="/assets/vendor/jq/jq-3.4.1.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.4.0/dist/lazyload.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz9ezftT1-KuABpJTEn2e0_Wyp9PAy0hs"></script>
    <script type="text/javascript" src="/assets/js/script.min.js"></script>
</body>
</html>