.space-btn {
    background-color: $bg-yellow;
    color: $text-white;
    padding: 12px 35px 12px 18px;
    font-size: 17px;
    font-weight: 600;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-45%);
        width: 0; 
        height: 0; 
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 11px solid $bg-white;
        transition: transform 0.3s ease-out;
    }
}

@include mediaMin($laptop-s) {
    .space-btn:hover {
        &::after {
            transform: translate(4px, -45%);
        }  
    }
}