// ==========================================================================
//
// SKIP LINK
//
// Description: Link to skip main content for
//
// ==========================================================================

// ==========================================================================
// # BASE
// ==========================================================================

.skip-link {
    background-color: get-color(white);
    border: 2px solid color-get(primary);
    color: get-color(black);
    height: 1px;
    left: -1000px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: -1000px;
    width: 1px;
    z-index: $z-lvl-5;

    &:active,
    &:focus,
    &:hover {
        height: auto;
        left: 0;
        overflow: visible;
        top: 0;
        width: auto;
    }
}