.doctor-nav--mobile {
    display: none;

    @include mediaMax($laptop-s) {
        display: block;
        position: fixed;
        z-index: $z-lvl-3;
        top: 86px;
        width: 100%;
        height: 100%;
    }
}

.doctor-nav--mobile {
    display: none;
    background-color: $bg-primary;
    color: $text-white;
}

.doctor-nav-mobile__ul__wrapper {
    overflow: scroll;
    position: relative;
    height: 100%;

    ul {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
        list-style: none;
        padding-left: 0px;
        
        li {
            font-weight: 600;
            text-transform: uppercase;
            font-family: 'Open Sans Condensed', sans-serif;
            letter-spacing: 3px;
            margin-bottom: 20px;
        }
    
        a {
            padding: 8px 16px;
            font-size: 22px;
        
            @include mediaMax($tablet-m) {
                font-size: 18px;
            }
        }
    }

    .menu-item-has-children {
        a {
            position: relative;

            &::after {
                content: url("data:image/svg+xml,%3Csvg fill='%23FFBB00' width='10' height='10' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath data-name='Polygon 39' d='M5 10L0 0h10z'/%3E%3C/svg%3E");
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                transition-duration: 0.4s;
            }
        }

        ul {
            display: none;
            position: relative;
            transform: unset;
            left: unset;
            top: unset;


            a {
                &::after {
                    content: url("");
                }
            }
        }
    }
}
