.space-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 86px;
    z-index: $z-lvl-4;
    background-color: $bg-white;
    transition: top .25s ease-in-out;
}

.space-header__wrapper {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);

    .main-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 86px;
    }
    
    .main-menu__logo {
        svg {
            width: 178px;
        }
    }
    
    .main-menu__menu {
    
        @include mediaMax($laptop-s) {
            display: none;
        }
    
        ul {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            list-style: none;
            margin: 0px;
            height: 86px;
        }
    
        li {
            padding: 20px 9px;
            text-align: left;
    
            a {
                padding: 12px 16px;
            }
        }
    
        li:last-child {
            padding-right: 0px;
    
            a {
                background-color: $bg-yellow;
                color: $text-white;
            }
        }
    }
    
    .menu-item-has-children {
        position: relative;
    
        &::after {
            content: url("data:image/svg+xml,%3Csvg fill='%23FFBB00' width='10' height='10' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath data-name='Polygon 39' d='M5 10L0 0h10z'/%3E%3C/svg%3E");
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition-duration: 0.4s;
        }
    
        ul {
            position: absolute;
            width: 100%;
            top: 100%;
            height: auto;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 0px;
            display: none;
            z-index: $z-lvl-4;
        }
    
        li {
            padding: 0px 27px;
    
            a {
                color: $text-white;
                padding: 6px 0px;
                position: relative;
    
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: $bg-white;
                    visibility: visible;
                    width: 0;
                    transition: all 0.5s;
                }
            }
    
            a:hover::before {
                visibility: visible;
                width: 100%;
            }
        }
    
        li:first-child {
            padding-top: 15px;
        }
    
        li:last-child {
            padding-right: 9px;
            padding-bottom: 15px;
    
            a {
                background-color: transparent;
            }
        }
    }
    
    .menu-item-has-children:hover {
        &::after {
            transform: rotate(-180deg);
            top: 37%;
        }
    }
}

.subNav__wrapper {
    display: none;
}

.subNav__wrapper {
    display: block;
    position: absolute;
    background: $bg-primary;
    width: 100%;
    z-index: $z-lvl-3;
}