
/*LIGHTBOX STYLE*/
.lightbox {
  display:none;
  position:fixed;
  z-index: $z-lvl-6;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  
  .lightbox-video {
    position: relative;
    width:100%;
    padding-bottom:56%;
  }
  
  iframe {
    position:absolute;
    height:100%;
    width:100%;
    left:0;
    right:0;
  }
  
  img {
    display:block;
    margin:0 auto;
  }
  
  .lightbox-close {
    position:absolute;
    display:block;
    top: 14px;
    right: 14px;
    
    &:hover {
      text-decoration: none;
    }
  }
  
  .lightbox-container {
    max-width: 1024px;
    margin: 200px auto 25px;
  }
}