// scss-lint:disable MergeableSelector

// ==========================================================================
// # BOX SIZING
// ==========================================================================

*,
*::before,
*::after {
    box-sizing: border-box;
    
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
    line-height: 1.33;
    letter-spacing: .45px;
    min-height: 60vh;
    color: $text-primary;
}

.vh {
    @include vh;
}

.space-body {
    max-width: 1600px;
    margin: 0 auto;
}

.space-main {
    margin-top: 86px;
}
