// ==========================================================================
// # BACKGROUND COLOURS
// ==========================================================================
.bg-black {
    background-color: $bg-black;
}

.bg-white {
    background-color: $bg-white;
}

.bg-yellow {
    background-color: $bg-yellow;
}

.bg-green {
    background-color: $bg-green;
}

.bg-orange {
    background-color: $bg-orange;
}

.bg-pink {
    background-color: $bg-pink;
}

.bg-navy {
    background-color: $bg-navy;
}

.bg-blue {
    background-color: $bg-blue;
}

.bg-primary {
    background-color: $bg-primary;
}

// ==========================================================================
// # TEXT COLOURS
// ==========================================================================
.text-white {
    color: $text-white;
}

.text-dark {
    color: $text-primary;
}