//------------------------------------
//	TYPE
//------------------------------------
$base-font-size: 16px !default;
$base-font-size-mobile: 14px !default;
$base-font-family: 'Roboto', sans-serif; // or write your own custom font-stack

$header-height-mobile: 86px;


//------------------------------------
//	Colours
//------------------------------------
$text-white: #ffffff;
$text-black: #000000;
$text-primary: #454B4D;
$text-gray: #707070;

// boxes
$box-white: #FFFFFF;
$box-black: #000000;
$box-gray: #999999;

// bg-colors
$bg-primary: #354B54;
$bg-black: #000000;
$bg-gray: #F7F4F4;
$bg-gray-2: #C7BDBD;
$bg-white: #ffffff;
$bg-yellow: #FFBB00;
$bg-green: #009476;
$bg-orange: #F04A02;
$bg-pink: #F1057F;
$bg-navy: #003970;
$bg-blue: #0293A7;


//------------------------------------
//	Breakpoints
//------------------------------------
$phone-s: 320px; // pure-u-p-
$phone-l: 600px; // pure-u-pl-
$tablet-s: 768px; // pure-u-ts-
$tablet-m: 840px; // pure-u-tm-
$tablet: 980px; // pure-u-t-
$tablet-l: 1024px; // pure-u-tl-
$tablet-xl: 1124px; // pure-u-txl-
$laptop-s: 1280px; // pure-u-ls-
$laptop: 1380px;
$laptop-l: 1680px;
$desktop: 2000px;


//------------------------------------
//	Sizes
//------------------------------------
$max-width: 1480px;
$max-width-fluid: 1640px;
$min-width: 360px;

// # Spacing
$global-gutter: 20px;
$column-spacing: 15px;

// # Desktop Menu - Height
$desktop-menu-height: 80px;
$mobile-menu-height: 63px;


// ==========================================================================
// Spacing
// ==========================================================================
$spacing-unit: 			40px;
$quarter-spacing-unit: 	$spacing-unit/4;
$half-spacing-unit: 	$spacing-unit/2;
$three-quarters: 		$spacing-unit/1.3;
$five-quarters: 	    $spacing-unit*1.3;
$double-spacing-unit: 	$spacing-unit*2;

// # Top and bottom block spacing mixing
$block-spacing-max: 90px;
$block-spacing-min: 40px;


//------------------------------------
//	Z-Index
//------------------------------------
$z-lvl-0: -1;
$z-lvl-1: 1000;
$z-lvl-2: 2000;
$z-lvl-3: 3000;
$z-lvl-4: 4000;
$z-lvl-5: 5000;
$z-lvl-6: 6000;
$z-lvl-7: 7000;