.accordion__wrapper {
    padding: 52px 0px 42px;
}

.accordion__title {
    color: $text-white;

    h2 {
        position: relative;
        padding-bottom: 18px;
        margin-bottom: 40px;
    }

    .accordion-title__underline {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 40px;
        height: 5px;
    }
}

.accordion__box {
    background-color: $bg-white;
    margin-bottom: 16px;
}

.accordion__inner {
    overflow: hidden;
    display: none;

    &.show-accordion {
        /*display: block;*/
    }
}

.accordion__box__title {
    position: relative;
    display: block;
    padding: 19px 30px 19px 50px;

    @include mediaMax($phone-l) {
        padding: 19px 10px 19px 30px;
    }

    &::after {
        content: url("data:image/svg+xml,%3Csvg fill='%23FFBB00' width='16' height='16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M10 5L0 10V0l10 5z'/%3E%3C/svg%3E");
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition-duration: 0.4s;

        @include mediaMax($phone-l) {
            left: 7px;
        }
    
    }

    &.rotate-accordion {
        &::after {
            transform: rotate(-90deg);
            top: 18px;
        }
    }
}

.accordion__ul {
    list-style: none;
    padding: 19px 30px 19px 50px;
    margin: 0px;

    @include mediaMax($phone-l) {
        padding: 19px 10px 19px 30px;
    }

}

.accordion__li {
    h3 {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $bg-yellow;
    }

    p {
        margin-bottom: 20px;
    }
}