// ==========================================================================
// # TOP
// ==========================================================================
.home-billboard__wrapper {
    position: relative;
}

.home-billboard__top {
    padding: 66px 0px;
    color: $text-white;
    position: relative;
}

.home-billboard__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,148,118);
    background: linear-gradient(90deg, rgba(0,148,118,0.6516981792717087) 0%, rgba(10,255,205,0.2987570028011205) 15%, rgba(255,255,255,0) 55%);
}

.home-billboard__top__text {
    position: relative;
    max-width: 544px;
}

.home-billboard__top__text__inner {
    padding-left: 120px;
    position: relative;

    @include mediaMax($tablet-s) {
        padding-left: 0px;
    }
}

.home-billboard__top__title {
    margin-bottom: 28px;

    h1 {
        font-size: 55px;
        line-height: 60px;

        @include mediaMax($tablet-m) {
            font-size: 38px;
            line-height: 42px;
        }
    }
}

.home-billboard__top__heading--bottom {
    padding-left: 120px;

    @include mediaMax($tablet-m) {
        padding-left: 0px;
    }
}

.home-billboard__top__copy {
    margin-bottom: 22px;
    font-size: 18px;
}

.home-billboard__top__social {
    position: absolute;
    left: 0;
    bottom: 0;

    @include mediaMax($tablet-s) {
        display: none;
    }
}

.home-billboard__top__instagram {
    display: block;
    text-align: center;
    width: 30px;
    margin-bottom: 8px;

    &::after {
        content: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' width='18' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg data-name='Group 113'%3E%3Cg data-name='Group 112'%3E%3Cpath data-name='Path 76' d='M14 2.52c3.73 0 4.18 0 5.66.08a7.78 7.78 0 012.6.49 4.61 4.61 0 012.65 2.65 8 8 0 01.49 2.6c.06 1.48.08 1.92.08 5.66s0 4.18-.08 5.66a8 8 0 01-.49 2.6 4.61 4.61 0 01-2.65 2.65 8 8 0 01-2.6.49c-1.48.06-1.92.08-5.66.08s-4.18 0-5.66-.08a8 8 0 01-2.6-.49 4.61 4.61 0 01-2.65-2.65 7.78 7.78 0 01-.49-2.6c-.06-1.48-.08-1.92-.08-5.66s0-4.18.08-5.66a7.73 7.73 0 01.49-2.6 4.61 4.61 0 012.65-2.65 7.78 7.78 0 012.6-.49c1.48-.06 1.92-.08 5.66-.08M14 0c-3.8 0-4.28 0-5.77.09a10.16 10.16 0 00-3.4.65A7.11 7.11 0 00.74 4.83a10.16 10.16 0 00-.65 3.4C0 9.72 0 10.2 0 14s0 4.28.09 5.77a10.16 10.16 0 00.65 3.4 7.15 7.15 0 004.09 4.1 10.68 10.68 0 003.4.65C9.72 28 10.2 28 14 28s4.28 0 5.77-.08a10.68 10.68 0 003.4-.65 7.15 7.15 0 004.09-4.1 10.16 10.16 0 00.65-3.4C28 18.28 28 17.8 28 14s0-4.28-.09-5.77a10.16 10.16 0 00-.65-3.4A7.11 7.11 0 0023.17.74a10.16 10.16 0 00-3.4-.65C18.28 0 17.8 0 14 0'/%3E%3Cpath data-name='Path 77' d='M14 6.81A7.19 7.19 0 1021.19 14 7.19 7.19 0 0014 6.81m0 11.86A4.67 4.67 0 1118.67 14 4.67 4.67 0 0114 18.67'/%3E%3Cpath data-name='Path 78' d='M23.15 6.53a1.68 1.68 0 11-1.68-1.68 1.68 1.68 0 011.68 1.68'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
}

.home-billboard__top__facebook {
    display: block;
    text-align: center;
    width: 30px;

    &::after {
        content: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' width='10' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 28'%3E%3Cg data-name='Group 231'%3E%3Cpath data-name='Path 113' d='M3.39 28h5.77V14.21h4l.44-4.84H9.16V6.61c0-1.14.23-1.61 1.33-1.61h3.12V0h-4C5.32 0 3.39 1.89 3.39 5.51v3.86h-3v4.9h3z'/%3E%3C/g%3E%3C/svg%3E");
    }
}

// ==========================================================================
// # BOTTOM
// ==========================================================================
.home-billboard__bottom {
    position: relative;
}

.home-billboard__bottom__text {
    color: $text-white;
    width: 50%;
    padding: 40px 100px 60px 0px;

    @include mediaMax($laptop-s) {
        width: 100%;
        padding-right: 0px;
        padding-bottom: 310px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 20px;
    }

    p {
        font-size: 14px;
    }
}

.home-billboard__bottom__bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;

    @include mediaMax($laptop-s) {
        top: unset;
        right: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 250px;
    }
}


// ==========================================================================
// # CHAT
// ==========================================================================
.home-billboard__chat {
    width: 76px;
    height: 52px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $bg-yellow;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaMax($laptop-s) {
        display: none;
    }

    &::after {
        margin-top: 10px;
        content: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' width='32' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 28'%3E%3Cpath d='M26.61 0H4.4A4.12 4.12 0 00.26 4.13v13.64a4.14 4.14 0 004 4.11H17.39a1.13 1.13 0 01.64.2l8.21 5.69.32.21v-6.07c.27 0 .52-.05.77-.1a4.14 4.14 0 003.41-4.08V4.16A4.12 4.12 0 0026.61 0zM29 17.54a2.73 2.73 0 010 .57 2.39 2.39 0 01-2.34 2H24.8v4.5l-.33-.22c-2-1.36-3.91-2.73-5.87-4.07a1.24 1.24 0 00-.64-.2H4.27A2.4 2.4 0 012 17.55V4.35A1.61 1.61 0 012 4a2.4 2.4 0 012.57-2.21h22.19A2.39 2.39 0 0129 4.35z'/%3E%3Cpath d='M8.44 6.33h14.15v1.74H8.44zM8.43 10.14h14.15v1.73H8.43zM8.43 13.95h14.15v1.73H8.43z'/%3E%3C/svg%3E");
    }
}


// ==========================================================================
// # CAROUSEL
// ==========================================================================
.home-billboard__bottom__bg {
    .home-billboard__carousel {
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .slick-list {
        height: 100%;
    }

    .slick-slide {
        div {
            height: 100%;
        }
    }

    .slick-track {
        display: flex;
        height: 100%;
    }

    .slick-prev {
        display: none !important;
    }

    .slick-next {
        display: none !important; 
    }

    .home-billboard__slide {
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .previous-caro {
        position: absolute;
        right: 100%;
        bottom: 0;
        background-color: $bg-white;

        @include mediaMax($laptop-s) {
            bottom: unset;
            right: unset;
            top: -18px;
            left: 32px;
        }

        @include mediaMax($tablet-s) {
            left: 20px;
        }

        .nav-previous {
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 11px solid $bg-primary;
        }
    }

    .next-caro {
        position: absolute;
        left: 0px;
        bottom: 0;
        background-color: $bg-gray-2;

        @include mediaMax($laptop-s) {
            bottom: unset;
            top: -18px;
            left: 68px;
        }


        @include mediaMax($tablet-s) {
            left: 56px;
        }

        .nav-next {
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 11px solid $bg-white;
        }
    }

    .home-billboard__nav {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
    }
}