.large-image__wrapper {
    position: relative;

    @include mediaMax($tablet-s) {
        display: flex;
        flex-direction: column;
    }
}

.large-image {
    width: 40%;
    padding: 120px 0px;

    @include mediaMax($laptop-s) {
        width: 50%;
        padding: 60px 0px;
    }

    @include mediaMax($tablet-s) {
        width: 100%;
        padding: 30px 0px;
    }
}

.large-image__container {
    @include mediaMax($tablet-s) {
        order: 2;
    }
}

.large-image__box {
    margin-right: 80px;

    @include mediaMax($laptop-s) {
        margin-right: 40px;
    }
}

.large-image__bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    max-width: 1100px;
    height: 100%;

    @include mediaMax($laptop-s) {
        width: 50%;
    }

    @include mediaMax($tablet-s) {
        order: 0;
        position: relative;
        width: 100%;
        height: 375px;
    }
}

.large-image__date {
    margin-bottom: 20px;
}

.large-image__title {
    margin-bottom: 25px;
}

.large-image__text {
    margin-bottom: 25px;
}


//------------------------------------
//	Revert
//------------------------------------
.large-image__wrapper.revert {
    .large-image__bg {
        right: unset;
        left: 0;
        width: 60%;

        @include mediaMax($laptop-s) {
            width: 50%;
        }
    
        @include mediaMax($tablet-s) {
            order: 0;
            position: relative;
            width: 100%;
            height: 375px;
        }
    
    }

    .large-image {
        margin-left: auto;
    }

    .large-image__box {
        margin-right: 0px;
        margin-left: 60px;

        @include mediaMax($laptop-s) {
            margin-left: 40px;
        }

        @include mediaMax($tablet-s) {
            margin-left: 0px;
        }
    }
}