.price-table__inner {
    display: flex;

    @include mediaMax($tablet-s) {
        flex-wrap: wrap;
    }
}

.price-table__heading {
    margin-bottom: 20px;
}

.price-table__text {
    width: 65%;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    @include mediaMax($tablet-s) {
        width: 100%;
        padding-left: 0px;
    }

    p {
        margin-bottom: 20px;
    }
}

.price-table__table  {
    width: 35%;
    border-top: 1px solid $bg-yellow;
    border-bottom: 1px solid $bg-yellow;
    font-size: 14px;
    padding: 10px 0px;

    @include mediaMax($tablet-s) {
        width: 100%;
        margin-bottom: 40px;
    }

    .price-table__place {
        padding: 12px 20px 12px 0px;
        white-space: nowrap;

        @include mediaMax($tablet-s) {
            white-space: unset;
        }
    }

    .price-table__price {
        padding: 12px 20px 12px 20px;
        text-align: right;
    }
}