// ==========================================================================
// # TEXT
// ==========================================================================
.secondary-billboard__top__title {
    position: relative;
    margin-bottom: 70px;
    padding: 90px 140px 30px 0px;

    @include mediaMax($laptop-s) {
        padding: 30px 0px 26px 0px;
        margin-bottom: 26px;
    }

    h1 {
        font-size: 55px;
        line-height: 60px;

        @include mediaMax($tablet-m) {
            font-size: 38px;
            line-height: 42px;
        }
    }
}

.secondary-billboard__top__heading--bottom {
    margin-left: 30px;
}

.secondary-billboard__top__underline {
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 110%;
    height: 1px;
    background-color: $bg-white;
    z-index: $z-lvl-2;
}

.secondary-billboard__wrapper {
    position: relative;
}

.secondary-billboard__bottom {
    position: relative;
}

.secondary-billboard__bottom__text {
    color: $text-white;
    width: 50%;

    @include mediaMax($laptop-s) {
        width: 100%;
        padding-right: 0px;
        padding-top: 300px;
    }

    @include mediaMax($phone-l) {
        padding-top: 270px;
    }
}

.secondary-billboard__bottom__bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;

    @include mediaMax($laptop-s) {
        bottom: unset;
        right: unset;
        top: 0;
        left: 0;
        width: 100%;
        height: 300px;
    }

    @include mediaMax($phone-l) {
        height: 270px;
    }
}

.secondary-billboard__bottom__copy {
    margin-bottom: 30px;
    font-size: 18px;
    padding: 0px 140px 150px 0px;

    @include mediaMax($laptop-s) {
        padding: 0px 0px 60px 0px;
        margin-bottom: 0px;
    }

    p {
        margin-bottom: 30px;
    }
}

// ==========================================================================
// # CHAT
// ==========================================================================
.secondary-billboard__chat {
    width: 76px;
    height: 52px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $bg-yellow;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaMax($laptop-s) {
        display: none;
    }

    &::after {
        margin-top: 10px;
        content: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' width='32' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 28'%3E%3Cpath d='M26.61 0H4.4A4.12 4.12 0 00.26 4.13v13.64a4.14 4.14 0 004 4.11H17.39a1.13 1.13 0 01.64.2l8.21 5.69.32.21v-6.07c.27 0 .52-.05.77-.1a4.14 4.14 0 003.41-4.08V4.16A4.12 4.12 0 0026.61 0zM29 17.54a2.73 2.73 0 010 .57 2.39 2.39 0 01-2.34 2H24.8v4.5l-.33-.22c-2-1.36-3.91-2.73-5.87-4.07a1.24 1.24 0 00-.64-.2H4.27A2.4 2.4 0 012 17.55V4.35A1.61 1.61 0 012 4a2.4 2.4 0 012.57-2.21h22.19A2.39 2.39 0 0129 4.35z'/%3E%3Cpath d='M8.44 6.33h14.15v1.74H8.44zM8.43 10.14h14.15v1.73H8.43zM8.43 13.95h14.15v1.73H8.43z'/%3E%3C/svg%3E");
    }
}


// ==========================================================================
// # CAROUSEL
// ==========================================================================
.secondary-billboard__bottom__bg {
    .secondary-billboard__carousel {
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .slick-list {
        height: 100%;
    }

    .slick-slide {
        div {
            height: 100%;
        }
    }

    .slick-track {
        display: flex;
        height: 100%;
    }

    .slick-prev {
        display: none !important;
    }

    .slick-next {
        display: none !important; 
    }

    .secondary-billboard__slide {
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .previous-caro-secondary {
        position: absolute;
        right: 100%;
        bottom: 0;
        background-color: $bg-white;

        @include mediaMax($laptop-s) {
            bottom: unset;
            right: unset;
            top: -18px;
            left: 32px;
        }

        @include mediaMax($tablet-s) {
            left: 20px;
        }

        .nav-previous-secondary {
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 11px solid $bg-primary;
        }
    }

    .next-caro-secondary {
        position: absolute;
        left: 0px;
        bottom: 0;
        background-color: $bg-gray-2;

        @include mediaMax($laptop-s) {
            bottom: unset;
            top: -18px;
            left: 68px;
        }


        @include mediaMax($tablet-s) {
            left: 56px;
        }

        .nav-next-secondary {
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 11px solid $bg-white;
        }
    }

    .secondary-billboard__nav {
        cursor: pointer;
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;

        @include mediaMax($laptop-s) {
            display: none !important;
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        list-style: none;
        @include responsive-padding-left-right(15px, 54px);
        padding-left: 0px !important;

        @include mediaMax($laptop-s) {
            padding-right: 0px !important;
            width: 100%;
            justify-content: center;
        }

        button {
            font-size: 0px;
            background-color: transparent;
            border: 1px solid $bg-white;
            border-radius: 50%;   
            height: 16px;
            width: 16px;
            margin: 6px;   
        }

        .slick-active button {
            background-color: $bg-white;
        }
    }
}