.three-column-link {
    display: flex;
    margin: 0px -8px;
    background-color: $bg-white;

    @include mediaMax($tablet-l) {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.three-column-link__box {
    width: 33.33%;
    padding: 0px 8px;
    margin-bottom: 40px;
    outline: 0;
}

.three-column-link__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.three-column-link__copy {
    color: $text-white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 50px 25px 40px;
}

.three-column-link__title {
    margin-bottom: 25px;
}

.three-column-link__text {
    margin-bottom: 25px;
}

.three-column-link__img {
    img {
        width: 100%;
    }
}

.three-column-link__icon {
    svg {
        position: relative;
        transition: .4s ease;
    }
}

@include mediaMin($laptop-s) {
    .three-column-link__box:hover {
        svg {
            transform: translateX(6px);
        }
    } 
}


.three-column-link {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        div {
            height: 100%;
        }

        .three-column-link__img {
            height: auto;
        }

        .three-column-link__box {
            height: 100%;
        }
    
        .three-column-link__icon {
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
    }

}