.two-image__container {
    position: relative;

    @include mediaMax($laptop-s) {
        
    }
}

.two-image__main-title {
    position: absolute;
    left: 0;
    top: 0;

    @include mediaMax($laptop-s) {
        position: relative;  
        max-width: 808px;
        margin: 0 auto;

        h2 {
            margin-left: 20px;
            position: relative;
            padding-bottom: 10px;
        }
    }
}

.two-image__box__copy--top {
    padding: 55px 20px 55px 40px;

    @include mediaMax($tablet-s) {
        padding: 35px 0px 35px 0px
    }
}

.two-image__box__copy--bottom {
    padding: 55px 20px 55px 0px;

    @include mediaMax($tablet-s) {
        padding: 35px 0px 35px 0px
    }
}

.two-image__inner--down {
    @include mediaMax($tablet-s) {
        .two-image__box__bg {
            order: 0 !important;
        }
    
        .two-image__box {
            order: 2;
        }
    }
}

.two-image__main-title__underline {
    height: 1px;
    width: 347px;
    margin-top: 5px;

    @include mediaMax($laptop) {
        width: 287px;
    }

    @include mediaMax($laptop-s) {
        position: absolute;
        bottom: -25px;
        left: 0;
    }
}

.two-image {
    max-width: 848px;
    margin: 0 auto;

    @include mediaMax($laptop) {
        max-width: 808px;
    }
}

.two-image__inner {
    display: flex;

    @include mediaMax($tablet-s) {
        flex-direction: column;
    }
}

.two-image__box__bg {
    @include mediaMax($tablet-s) {
        height: 375px;
    }
}

.two-image__box {
    width: 50%;

    @include mediaMax($tablet-s) {
        width: 100%;
    }
}

.two-image__box {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.two-image__box__title {
    margin-bottom: 20px;
}

.two-image__box__text {
    margin-bottom: 20px;
}

.two-image__box__text--sm {
    margin-bottom: 20px;
}