﻿@inherits UmbracoViewPage

@using Umbraco.Web.Models

@{
    string footerNumbers = Umbraco.Field("footerNumber").ToString();
    string footerEmail = Umbraco.Field("footerEmail").ToString();
    var footerAddress = Umbraco.Field("footerAddress");

    string footerImageUrl = "";
    if (Umbraco.AssignedContentItem.HasValue("footerLogo"))
    {
        footerImageUrl = Umbraco.AssignedContentItem.GetPropertyValue<IPublishedContent>("footerLogo").Url;
    }

    IEnumerable<RelatedLink> footerEnquiriesLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("footerEnquiresLink");
    RelatedLink footerEnquiriesLink = null;
    if (footerEnquiriesLinks != null && footerEnquiriesLinks.Count() > 0)
    {
        footerEnquiriesLink = footerEnquiriesLinks.FirstOrDefault();
    }

    IEnumerable<RelatedLink> footerTwitterLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("footerTwitterLink");
    RelatedLink footerTwitterLink = null;
    if (footerTwitterLinks != null && footerTwitterLinks.Count() > 0)
    {
        footerTwitterLink = footerTwitterLinks.FirstOrDefault();
    }

    IEnumerable<RelatedLink> footerInstagramLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("footerInstagramLink");
    RelatedLink footerInstagramLink = null;
    if (footerInstagramLinks != null && footerInstagramLinks.Count() > 0)
    {
        footerInstagramLink = footerInstagramLinks.FirstOrDefault();
    }

}


<footer class="space-footer__wrapper">
    <div class="space-footer__details">
        <div class="section-container">
            <div class="space-footer">
                <div class="space-footer__logo">
                    <img style="width: 178px;" src="@footerImageUrl" alt="space with us logo" />
                    <svg id="Layer_1" data-name="Layer 1" fill="#454B4D" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 181 27"><title>Spacewithus-logo</title><g id="space_at_us_single_line" data-name="space at us single line"><path id="Path_2647" data-name="Path 2647" d="M5.59,15.47a3,3,0,0,0,.9,1,3.85,3.85,0,0,0,1.29.58,5.9,5.9,0,0,0,1.51.19,5.67,5.67,0,0,0,1.17-.14,3.66,3.66,0,0,0,1.12-.4,2.77,2.77,0,0,0,.85-.75,2,2,0,0,0,.33-1.17c0-.8-.52-1.39-1.58-1.79A32.41,32.41,0,0,0,6.76,11.8c-.78-.18-1.53-.38-2.26-.62a7.44,7.44,0,0,1-1.95-.93A4.61,4.61,0,0,1,1.16,8.79,4.08,4.08,0,0,1,.65,6.65,5.63,5.63,0,0,1,1.38,3.6a5.27,5.27,0,0,1,1.9-1.88A8.45,8.45,0,0,1,6,.74,16.59,16.59,0,0,1,9,.46a15.7,15.7,0,0,1,3.05.31,8.26,8.26,0,0,1,2.62,1,6.15,6.15,0,0,1,1.92,1.88,6.37,6.37,0,0,1,.91,3h-5a2.28,2.28,0,0,0-1.15-2.07A5.23,5.23,0,0,0,8.88,4c-.31,0-.62,0-1,0A4,4,0,0,0,7,4.3a2.07,2.07,0,0,0-.73.55,1.48,1.48,0,0,0-.3,1A1.45,1.45,0,0,0,6.46,7a4.08,4.08,0,0,0,1.36.73,18,18,0,0,0,1.92.5l2.19.49a22.46,22.46,0,0,1,2.27.63,7.32,7.32,0,0,1,1.95,1,4.75,4.75,0,0,1,1.37,1.52,4.44,4.44,0,0,1,.54,2.26,5.91,5.91,0,0,1-2.76,5.26,8.51,8.51,0,0,1-2.83,1.1,16.58,16.58,0,0,1-3.22.31A16.44,16.44,0,0,1,6,20.41a8.52,8.52,0,0,1-2.84-1.12,6.24,6.24,0,0,1-2-2.07A6.41,6.41,0,0,1,.21,14h5a2.92,2.92,0,0,0,.36,1.48" /><path id="Path_2648" data-name="Path 2648" d="M31.06,16.27a4.17,4.17,0,0,0,1.41-1.36,5.54,5.54,0,0,0,.77-2,11.58,11.58,0,0,0,.23-2.27,11.62,11.62,0,0,0-.25-2.28,6,6,0,0,0-.8-2A4.44,4.44,0,0,0,31,5a4,4,0,0,0-2.14-.54A4.18,4.18,0,0,0,26.66,5a4.42,4.42,0,0,0-1.42,1.4,5.85,5.85,0,0,0-.76,2,12,12,0,0,0-.22,2.31A10.9,10.9,0,0,0,24.5,13a6.05,6.05,0,0,0,.78,2,4.23,4.23,0,0,0,1.43,1.36,4.35,4.35,0,0,0,2.17.52,4.14,4.14,0,0,0,2.18-.52M24.18,1V3.45h.08a5.79,5.79,0,0,1,2.45-2.28A7.6,7.6,0,0,1,30,.46a8.44,8.44,0,0,1,3.92.86,8.17,8.17,0,0,1,2.72,2.27,9.75,9.75,0,0,1,1.61,3.3,15,15,0,0,1,.52,3.94,13.49,13.49,0,0,1-.52,3.73,9.23,9.23,0,0,1-1.59,3.16A7.84,7.84,0,0,1,34,19.92a7.93,7.93,0,0,1-3.71.82A7.67,7.67,0,0,1,27,20a6.34,6.34,0,0,1-2.47-2.15h-.08V27H19.16V1Z" /><path id="Path_2649" data-name="Path 2649" d="M51.36,11.29a8.3,8.3,0,0,1-1.09.28c-.39.08-.79.14-1.21.19s-.85.11-1.26.19a9.67,9.67,0,0,0-1.18.29,3.84,3.84,0,0,0-1,.51,2.53,2.53,0,0,0-.69.8,2.75,2.75,0,0,0-.26,1.23A2.58,2.58,0,0,0,44.92,16a2,2,0,0,0,.71.77,3.19,3.19,0,0,0,1,.39,7.3,7.3,0,0,0,1.23.11,4.61,4.61,0,0,0,2.42-.52,3.46,3.46,0,0,0,1.27-1.25,3.94,3.94,0,0,0,.5-1.48,9.39,9.39,0,0,0,.1-1.19v-2a2.23,2.23,0,0,1-.84.46M40.9,3.82a6.38,6.38,0,0,1,2.09-2A9.08,9.08,0,0,1,45.84.78,16.18,16.18,0,0,1,49,.46,20.69,20.69,0,0,1,52,.67a9,9,0,0,1,2.72.8,5.32,5.32,0,0,1,2,1.66,4.6,4.6,0,0,1,.78,2.81V16a20.84,20.84,0,0,0,.15,2.5,4.57,4.57,0,0,0,.53,1.79H52.79a7.32,7.32,0,0,1-.24-.92,6,6,0,0,1-.13-.95,6.82,6.82,0,0,1-3,1.83,11.82,11.82,0,0,1-3.5.52,9.3,9.3,0,0,1-2.57-.33,5.88,5.88,0,0,1-2.09-1.05,4.87,4.87,0,0,1-1.4-1.78A6.16,6.16,0,0,1,39.36,15a5.74,5.74,0,0,1,.58-2.7,4.94,4.94,0,0,1,1.49-1.69,6.58,6.58,0,0,1,2.09-.95,23.78,23.78,0,0,1,2.37-.51c.8-.12,1.58-.22,2.35-.3a14.34,14.34,0,0,0,2-.33,3.56,3.56,0,0,0,1.41-.65,1.45,1.45,0,0,0,.49-1.25,2.77,2.77,0,0,0-.28-1.36,2.16,2.16,0,0,0-.75-.78,2.92,2.92,0,0,0-1.07-.38A9.91,9.91,0,0,0,48.76,4a4.06,4.06,0,0,0-2.46.67,3,3,0,0,0-1,2.23H40a6.14,6.14,0,0,1,.93-3.09" /><path id="Path_2650" data-name="Path 2650" d="M68.58,4.45A3.82,3.82,0,0,0,66.45,5a4.71,4.71,0,0,0-1.39,1.49,6.26,6.26,0,0,0-.77,2,11.27,11.27,0,0,0-.22,2.18,10.82,10.82,0,0,0,.22,2.12,6.53,6.53,0,0,0,.73,2,4.26,4.26,0,0,0,1.36,1.44,3.71,3.71,0,0,0,2.08.55,3.89,3.89,0,0,0,2.94-1.06,5.06,5.06,0,0,0,1.27-2.85h5.12a8.79,8.79,0,0,1-3,5.85,9.65,9.65,0,0,1-6.31,2,10.58,10.58,0,0,1-4-.72,8.76,8.76,0,0,1-3.07-2,9.13,9.13,0,0,1-2-3.12,10.46,10.46,0,0,1-.71-3.95,12.49,12.49,0,0,1,.65-4.16,9.42,9.42,0,0,1,1.91-3.32,8.89,8.89,0,0,1,3.1-2.19A10.49,10.49,0,0,1,68.62.47a12.2,12.2,0,0,1,3.29.45,8.5,8.5,0,0,1,2.83,1.35,7.42,7.42,0,0,1,2,2.28,7.14,7.14,0,0,1,.9,3.22H72.49a3.56,3.56,0,0,0-3.76-3.33h-.15" /><path id="Path_2651" data-name="Path 2651" d="M91.33,5.5a3.76,3.76,0,0,0-2.9-1,4.63,4.63,0,0,0-2.1.43A4.09,4.09,0,0,0,85,5.94a3.73,3.73,0,0,0-.71,1.35A6,6,0,0,0,84,8.55h8.61a6.19,6.19,0,0,0-1.32-3.06m-6,10.15a5.43,5.43,0,0,0,6.18.35,3.24,3.24,0,0,0,1.41-1.7H97.6a8.83,8.83,0,0,1-3.43,5,10.08,10.08,0,0,1-5.59,1.49,11,11,0,0,1-4.1-.72A8.54,8.54,0,0,1,81.39,18a9.15,9.15,0,0,1-2-3.21,11.9,11.9,0,0,1-.7-4.1,11.28,11.28,0,0,1,.71-4,9.36,9.36,0,0,1,5.12-5.37,9.89,9.89,0,0,1,4-.78,9.1,9.1,0,0,1,4.29,1,8.58,8.58,0,0,1,3,2.55,10.42,10.42,0,0,1,1.7,3.65,13.73,13.73,0,0,1,.37,4.28H84a5.31,5.31,0,0,0,1.31,3.73" /><path id="Path_2652" data-name="Path 2652" d="M114.22,17.51l-2.06-8h0l-2,8.05h-1.8L105,7.39h1.84l2.29,8.28h0l2-8.28h1.82l2.12,8.28h0l2.27-8.28h1.72L116,17.51Z" /><path id="Path_2653" data-name="Path 2653" d="M122.56,17.51h-1.67V7.39h1.67Zm-1.67-14h1.67v2h-1.67Z" /><path id="Path_2654" data-name="Path 2654" d="M129.47,7.39V8.85h-2v6.29a1.88,1.88,0,0,0,0,.47.44.44,0,0,0,.19.27.72.72,0,0,0,.38.13q.31,0,.63,0h.77v1.47H128.2a6.92,6.92,0,0,1-1.11-.09,1.54,1.54,0,0,1-.74-.32,1.49,1.49,0,0,1-.43-.67,3.93,3.93,0,0,1-.13-1.13V8.86h-1.73V7.39h1.73v-3h1.66v3Z" /><path id="Path_2655" data-name="Path 2655" d="M133,3.53V8.88h0a2.12,2.12,0,0,1,.55-.8,3.31,3.31,0,0,1,.79-.53,4.13,4.13,0,0,1,.92-.3,4.2,4.2,0,0,1,.93-.1,4.45,4.45,0,0,1,1.66.27,2.72,2.72,0,0,1,1.66,1.93,6.27,6.27,0,0,1,.16,1.5V17.5H138V10.65a1.9,1.9,0,0,0-2.06-2,3.45,3.45,0,0,0-1.31.23,2.5,2.5,0,0,0-.93.67,2.65,2.65,0,0,0-.56,1,4.09,4.09,0,0,0-.19,1.26v5.72h-1.66v-14Z" /><path id="Path_2656" data-name="Path 2656" d="M147.3,12.84c0,5,2.22,7.87,7,7.87a7.89,7.89,0,0,0,7.49-5.19s0,0,0,0,0,0,0,0c1.64,3.21,5.07,5.19,9.85,5.19,5.05,0,9-2.61,9-6.42,0-2.76-1.75-4.46-5.3-6.08l-2.1-.94c-1.82-.89-2.9-1.69-2.9-3.33S172.05,1,174.1,1c3.24,0,4.52,2.43,5.42,5h.79L179.92.3h-.62l-.06.12c-.44.5-.92.49-1.81.19A11,11,0,0,0,174,0c-3.91,0-6.81,2.44-6.81,5.57,0,2.61,1.57,4.29,4.59,5.68l2,.95c1.77.84,3.22,1.73,3.22,3.62,0,2.49-2.57,3.85-5.32,3.85-4.41,0-6.91-2.88-6.91-7.77V.48h-7.67v.78a1,1,0,0,1,.24,0c3,.26,3.36.77,3.36,3.83l0,6.66c0,4.73-1.89,7.49-5.12,7.49-3,0-4-2.25-4-6.19l0-12.59h-7.69v.79a.74.74,0,0,1,.21,0c2.76.26,3.18.62,3.18,3.77v7.79Z" /></g></svg>
                </div>
                <div class="space-footer__talk space-footer__box">
                    @if (footerNumbers != null && !string.IsNullOrWhiteSpace(footerNumbers))
                    {
                        <div class="space-footer__title">space to talk</div>
                        @Umbraco.Field("footerNumber", insertBefore: "<p class='space-footer__text'>", insertAfter: "</p>")
                    }
                    @if (footerEmail != null && !string.IsNullOrWhiteSpace(footerEmail))
                    {
                        <div class="space-footer__title">space to contact</div>
                        <a href="mailto:@footerEmail" class="space-footer__text">@footerEmail</a>
                    }
                    @if (footerEnquiriesLink != null && !string.IsNullOrEmpty(footerEnquiriesLink.Link))
                    {
                        <div class="space-footer__title">space for enquiries</div>
                        <a href="@footerEnquiriesLink.Link" target="@(footerEnquiriesLink.NewWindow ? "_blank" : null)" class="space-footer__text">@footerEnquiriesLink.Caption</a>
                    }
                </div>
                <div class="space-footer__space space-footer__box">
                    <div class="space-footer__title">space</div>
                    @if (footerAddress != null)
                    {
                        @footerAddress
                    }
                </div>
                <div class="space-footer__social space-footer__box">
                    <div class="space-footer__title">space for social</div>
                    @if (footerTwitterLink != null && !string.IsNullOrEmpty(footerTwitterLink.Link))
                    {
                        <a href="@footerTwitterLink.Link" target="@(footerTwitterLink.NewWindow ? "_blank" : null)" class="space-footer__social__icon space-footer__text">
                            <svg id="Layer_1" width="15" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 24"><title>Artboard 1</title><path id="Path_5081" data-name="Path 5081" d="M25.13,6l0,.79C25.15,14.8,19.56,24,9,24a16.13,16.13,0,0,1-9-2.68,10.39,10.39,0,0,0,1.37.08A11.12,11.12,0,0,0,8.5,18.81a5.81,5.81,0,0,1-5.36-4.22,5.5,5.5,0,0,0,2.6-.1,6,6,0,0,1-4.61-6V8.46a5.52,5.52,0,0,0,2.6.75A6.14,6.14,0,0,1,1.17,4.16a6.4,6.4,0,0,1,.78-3A16,16,0,0,0,13.79,7.45a7.88,7.88,0,0,1-.15-1.38A5.92,5.92,0,0,1,19.39,0a5.62,5.62,0,0,1,4.18,1.91A10.79,10.79,0,0,0,27.23.44,6.05,6.05,0,0,1,24.7,3.8a10.88,10.88,0,0,0,3.3-1A11.81,11.81,0,0,1,25.13,6Z" /></svg>
                            <span>@footerTwitterLink.Caption</span>
                        </a>
                    }
                    @if (footerInstagramLink != null && !string.IsNullOrEmpty(footerInstagramLink.Link))
                    {
                        <a href="@footerInstagramLink.Link" target="@(footerInstagramLink.NewWindow ? "_blank" : null)" class="space-footer__social__icon space-footer__text">
                            <svg id="Layer_1" width="15" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><title>instagram</title><g id="Group_113" data-name="Group 113"><g id="Group_112" data-name="Group 112"><path id="Path_76" data-name="Path 76" d="M14,2.52c3.73,0,4.18,0,5.66.08a7.78,7.78,0,0,1,2.6.49,4.61,4.61,0,0,1,2.65,2.65,8,8,0,0,1,.49,2.6c.06,1.48.08,1.92.08,5.66s0,4.18-.08,5.66a8,8,0,0,1-.49,2.6,4.61,4.61,0,0,1-2.65,2.65,8,8,0,0,1-2.6.49c-1.48.06-1.92.08-5.66.08s-4.18,0-5.66-.08a8,8,0,0,1-2.6-.49,4.61,4.61,0,0,1-2.65-2.65,7.78,7.78,0,0,1-.49-2.6c-.06-1.48-.08-1.92-.08-5.66s0-4.18.08-5.66a7.73,7.73,0,0,1,.49-2.6A4.61,4.61,0,0,1,5.74,3.09a7.78,7.78,0,0,1,2.6-.49c1.48-.06,1.92-.08,5.66-.08M14,0C10.2,0,9.72,0,8.23.09a10.16,10.16,0,0,0-3.4.65A7.11,7.11,0,0,0,.74,4.83a10.16,10.16,0,0,0-.65,3.4C0,9.72,0,10.2,0,14s0,4.28.09,5.77a10.16,10.16,0,0,0,.65,3.4,7.15,7.15,0,0,0,4.09,4.1,10.68,10.68,0,0,0,3.4.65C9.72,28,10.2,28,14,28s4.28,0,5.77-.08a10.68,10.68,0,0,0,3.4-.65,7.15,7.15,0,0,0,4.09-4.1,10.16,10.16,0,0,0,.65-3.4C28,18.28,28,17.8,28,14s0-4.28-.09-5.77a10.16,10.16,0,0,0-.65-3.4A7.11,7.11,0,0,0,23.17.74a10.16,10.16,0,0,0-3.4-.65C18.28,0,17.8,0,14,0" /><path id="Path_77" data-name="Path 77" d="M14,6.81A7.19,7.19,0,1,0,21.19,14,7.19,7.19,0,0,0,14,6.81h0m0,11.86A4.67,4.67,0,1,1,18.67,14,4.67,4.67,0,0,1,14,18.67" /><path id="Path_78" data-name="Path 78" d="M23.15,6.53a1.68,1.68,0,1,1-1.68-1.68,1.68,1.68,0,0,1,1.68,1.68h0" /></g></g></svg>
                            <span>@footerInstagramLink.Caption</span>
                        </a>
                    }
                    </div>
                <div class="space-footer__box--mobile">
                    <div class="space-footer__box--mobile__contact">
                        <p class="space-footer__text">+44 (0)1273 678678</p>
                        <a href="mailto:spacewithus@sussex.ac.uk" class="space-footer__text">spacewithus@sussex.ac.uk</a>
                    </div>
                    <div class="space-footer__box--mobile__social">
                        <a href="#" class="space-footer__social__icon space-footer__text">
                            <svg id="Layer_1" width="15" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 24"><title>Artboard 1</title><path id="Path_5081" data-name="Path 5081" d="M25.13,6l0,.79C25.15,14.8,19.56,24,9,24a16.13,16.13,0,0,1-9-2.68,10.39,10.39,0,0,0,1.37.08A11.12,11.12,0,0,0,8.5,18.81a5.81,5.81,0,0,1-5.36-4.22,5.5,5.5,0,0,0,2.6-.1,6,6,0,0,1-4.61-6V8.46a5.52,5.52,0,0,0,2.6.75A6.14,6.14,0,0,1,1.17,4.16a6.4,6.4,0,0,1,.78-3A16,16,0,0,0,13.79,7.45a7.88,7.88,0,0,1-.15-1.38A5.92,5.92,0,0,1,19.39,0a5.62,5.62,0,0,1,4.18,1.91A10.79,10.79,0,0,0,27.23.44,6.05,6.05,0,0,1,24.7,3.8a10.88,10.88,0,0,0,3.3-1A11.81,11.81,0,0,1,25.13,6Z" /></svg>
                            <span>&#64;spacewithus</span>
                        </a>
                        <a href="#" class="space-footer__social__icon space-footer__text">
                            <svg id="Layer_1" width="15" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28"><title>instagram</title><g id="Group_113" data-name="Group 113"><g id="Group_112" data-name="Group 112"><path id="Path_76" data-name="Path 76" d="M14,2.52c3.73,0,4.18,0,5.66.08a7.78,7.78,0,0,1,2.6.49,4.61,4.61,0,0,1,2.65,2.65,8,8,0,0,1,.49,2.6c.06,1.48.08,1.92.08,5.66s0,4.18-.08,5.66a8,8,0,0,1-.49,2.6,4.61,4.61,0,0,1-2.65,2.65,8,8,0,0,1-2.6.49c-1.48.06-1.92.08-5.66.08s-4.18,0-5.66-.08a8,8,0,0,1-2.6-.49,4.61,4.61,0,0,1-2.65-2.65,7.78,7.78,0,0,1-.49-2.6c-.06-1.48-.08-1.92-.08-5.66s0-4.18.08-5.66a7.73,7.73,0,0,1,.49-2.6A4.61,4.61,0,0,1,5.74,3.09a7.78,7.78,0,0,1,2.6-.49c1.48-.06,1.92-.08,5.66-.08M14,0C10.2,0,9.72,0,8.23.09a10.16,10.16,0,0,0-3.4.65A7.11,7.11,0,0,0,.74,4.83a10.16,10.16,0,0,0-.65,3.4C0,9.72,0,10.2,0,14s0,4.28.09,5.77a10.16,10.16,0,0,0,.65,3.4,7.15,7.15,0,0,0,4.09,4.1,10.68,10.68,0,0,0,3.4.65C9.72,28,10.2,28,14,28s4.28,0,5.77-.08a10.68,10.68,0,0,0,3.4-.65,7.15,7.15,0,0,0,4.09-4.1,10.16,10.16,0,0,0,.65-3.4C28,18.28,28,17.8,28,14s0-4.28-.09-5.77a10.16,10.16,0,0,0-.65-3.4A7.11,7.11,0,0,0,23.17.74a10.16,10.16,0,0,0-3.4-.65C18.28,0,17.8,0,14,0" /><path id="Path_77" data-name="Path 77" d="M14,6.81A7.19,7.19,0,1,0,21.19,14,7.19,7.19,0,0,0,14,6.81h0m0,11.86A4.67,4.67,0,1,1,18.67,14,4.67,4.67,0,0,1,14,18.67" /><path id="Path_78" data-name="Path 78" d="M23.15,6.53a1.68,1.68,0,1,1-1.68-1.68,1.68,1.68,0,0,1,1.68,1.68h0" /></g></g></svg>
                            <span>&#64;spacebrighton</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space-footer__copyright">
        <div class="section-container">
            <div class="space-footer__copyright__inner">
                <div class="space-footer__date heading-7">
                    Spacewithus copyright 2020
                </div>
                <div class="space-footer__by heading-7">
                    Site by <span>
                        <svg width="60" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 347.35 85.04">
                            <defs>
                                <style type="text/css">
                                    .cls-1 {
                                        fill: #ffffff;
                                    }
                                </style>
                            </defs>
                            <title>Artboard 1</title>
                            <path class="cls-1" d="M17.33,17.8a2.93,2.93,0,0,0-2.92,2.92v19.8a2.93,2.93,0,0,0,2.92,2.93l19.66,0a2.94,2.94,0,0,1,2.93,2.93l0,6.22A2.93,2.93,0,0,1,37,55.53l-19.69,0a2.94,2.94,0,0,0-2.92,2.93v21a2.93,2.93,0,0,1-2.92,2.92H2.92A2.93,2.93,0,0,1,0,79.49V4.41A2.93,2.93,0,0,1,2.92,1.48H47.19a2.91,2.91,0,0,1,2.91,2.92L50,14.87a3,3,0,0,1-2.94,2.92ZM261.6,79.1A2.93,2.93,0,0,0,264.52,82h8.56A2.93,2.93,0,0,0,276,79.1V4a2.93,2.93,0,0,0-2.92-2.92h-8.56A2.93,2.93,0,0,0,261.6,4Zm-186.24-43h0ZM149,.93a2.93,2.93,0,0,0-2.92,2.92V58.13c0,1.61,0,2.95-.06,3a.08.08,0,0,1-.12,0s-.78-1.16-1.65-2.51l-36-55.22A6,6,0,0,0,103.7.93H90.45l-2.92,0,.06,0s.06,1.32.06,2.92v15a16.83,16.83,0,0,0,1.16,5.6l12,27.54c.64,1.47,1.16,1.37,1.16-.24V22.72a18.64,18.64,0,0,1,.12-2.92,24,24,0,0,1,1.7,2.46L140.58,79.4a6,6,0,0,0,4.51,2.46h12.44a2.93,2.93,0,0,0,2.92-2.92V3.85A2.93,2.93,0,0,0,157.53.93ZM71.15,3.62A4.83,4.83,0,0,0,67.07.93H60.66a2.93,2.93,0,0,0-2.92,2.92v11.5a2.76,2.76,0,0,0,2.81,2.82,4.26,4.26,0,0,1,3.84,2.64l7.09,19a1.9,1.9,0,0,1-1.9,2.74H57.33a2.93,2.93,0,0,0-2.92,2.92v6.5a2.93,2.93,0,0,0,2.92,2.92H74.59a4.69,4.69,0,0,1,4,2.71L87.3,79.15a4.69,4.69,0,0,0,4,2.71h10.62a1.79,1.79,0,0,0,1.77-2.68Zm112.61,0A4.83,4.83,0,0,0,179.68.93h-6.41a2.93,2.93,0,0,0-2.92,2.92v11.5a2.76,2.76,0,0,0,2.81,2.82A4.26,4.26,0,0,1,177,20.82l7.09,19a1.9,1.9,0,0,1-1.9,2.74H169.94A2.93,2.93,0,0,0,167,45.44v6.5a2.93,2.93,0,0,0,2.92,2.92H187.2a4.69,4.69,0,0,1,4,2.71l8.69,21.57a4.69,4.69,0,0,0,4,2.71h10.61a1.79,1.79,0,0,0,1.77-2.68Zm7-3A1.79,1.79,0,0,0,189,3.31l3.3,7.66a4.83,4.83,0,0,0,4.08,2.68h21.08a2.93,2.93,0,0,1,2.92,2.92V62.27a16.94,16.94,0,0,0,1.16,5.61l4.73,11a4.83,4.83,0,0,0,4.08,2.68h1.51a2.93,2.93,0,0,0,2.92-2.92v-62a2.93,2.93,0,0,1,2.92-2.92h15.65a2.93,2.93,0,0,0,2.92-2.92V3.54A2.93,2.93,0,0,0,253.35.62ZM346.82,70.53a2.84,2.84,0,0,0-.64-3.95l-7.06-5.09a2.78,2.78,0,0,0-3.88.55,2.49,2.49,0,0,0-.11.25l-.16-.11C329.6,69,323.31,72,316.8,72,300.11,72,289,59.21,289,41.95,289,25.83,300.11,13,316.8,13c5.6,0,11.09,1.71,17,8l.06,0a2.63,2.63,0,0,0,.46.73l.67.7a2.84,2.84,0,0,0,4,.08l6-5.74a2.75,2.75,0,0,0,.21-3.86c-.06-.06-.14-.08-.21-.14C337,3.53,327.64,0,316.68,0c-14.39,0-26.39,5.67-34,15.43V69.75c7.59,9.63,19.59,15.29,34,15.29,11.89,0,22.86-4.34,30.18-14.4l-.08-.05Z"></path>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>